a {
  text-decoration: none;
  color: rgb(49, 163, 240);
  font-size: 0.9rem;
  font-weight: 600;
}

.white {
  color: white;
}
.blue {
  color: rgb(49, 163, 240);
}

@media(max-width: 1060px)
{
  a{
    font-size: 0.6rem;
  }
}
